{% extends "core/base.html" %}
{% block title %}New Procedure Report | MediCore{% endblock title %}
{% block page_title %}New procedure report{% endblock page_title %}

{% block content %}
<a href="{% url 'records:procedure_report_list' %}" class="btn btn-sm btn-outline-secondary mb-3">← Back to reports</a>
    <div class="card border-0 shadow-sm">
        <div class="card-body p-4">
            <form method="post">
                {% csrf_token %}
                {{ formset.management_form }}

                <div class="mb-3">
                    {{ form.patient.label_tag }}
                    {{ form.patient }}
                </div>
                <div class="mb-4">
                    {{ form.doctor.label_tag }}
                    {{ form.doctor }}
                </div>

                <h5 class="fw-semibold mb-3">Procedures</h5>

                {% for item_form in formset %}
                    <div class="row g-2 mb-2 border-bottom pb-2">
                        <div class="col-md-4">{{ item_form.procedure_name }}</div>
                        <div class="col-md-8">{{ item_form.findings }}</div>
                    </div>
                {% endfor %}

                <div class="mb-4 mt-3">
                    {{ form.notes.label_tag }}
                    {{ form.notes }}
                </div>

                <button type="submit" class="btn btn-primary">Create & print</button>
                <a href="{% url 'records:procedure_report_list' %}" class="btn btn-outline-secondary">Cancel</a>
            </form>
        </div>
    </div>
{% endblock content %}